<table class="table clearfix">
	<tbody>
		<tr ng-repeat="history in historyList" class="talk-item-animation">
			<td style="width: 15%;" >
				<img class="img-thumbnail" src="/app/displaydata/imgs/chenyixun.png" ng-if="history.isMine == 0"/>
			</td>	
			<td style="width: 70%">
				<div class="talk-item panel-body {{history.isMine == 0 ? 'talk-item-you':'talk-item-my'}}">
					<div >
						{{history.content}}
					</div>
				</div>
				<span class="navbar-text glyphicon glyphicon-repeat"></span>
			</td>
			<td style="width: 15%;" >
				<img class="img-thumbnail" src="/app/displaydata/imgs/chenyixun.png" ng-if="history.isMine == 1"/>
			</td>
		</tr>
	</tbody>
</table>