body {
    width: 100%;
    height:100%;
    background-color: #EAE8E8;
    margin: 0;
    padding: 0;
}
section {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/*底部按钮颜色*/
footer>ul>li {
    width: 50%; /*两个按钮，每个50%*/
    background-color: #F7F7F7;
    border-top: 1px solid #A2A2A2;
    line-height: 70px;
}
/*底部按钮颜色*/
footer>ul>li>a {
    line-height: 1.9 !important;
}
/*底部按钮颜色-非激活*/
.inactive {
    color : gray;
}
/*底部按钮颜色-激活*/
.active {
    color : #1C528C;
}
/*搜索框 */
.input-search{
    margin-top: 2px;
    -webkit-border-radius:20px;  
    -moz-border-radius:20px;
    -o-border-radius:20px;
    border-radius: 20px;
    text-align: center;
}
/*发送消息框 */
.input-send-msg{
    margin: 2px 0 0 0;
    padding: 0;
    -webkit-border-radius:5px;  
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius: 5px;
    text-align: left;
}
/*表格边框留白*/
.table>tbody>tr>td{
    background-color: white;
    padding : 2px;
    border-top: none;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

/*表格边框留白*/
.table>tbody>tr>td:first-child{
    background-color: white;
    padding : 2px;
    border-top: none;
    vertical-align: middle;
    border-bottom: none;
}
/*表格头像的大小控制--头像*/
.table>tbody>tr>td>img{
    width: 85%;
    max-width:60px;
    padding: 5px;
    display: block;
    margin: 5px auto 5px auto;
}

/*表格文本大小控制--聊天记录-已读 */
.history-readed>p{
    margin: 0 0 0 0;
    font-size: small;
    color: gray;
}
/*表格文本大小控制--聊天记录-已读 */
.history-readed>p>span{
    display: none;
}
/*表格文本大小控制--聊天记录-未读 */
.history-no-readed>p{
    margin: 0 0 0 0;
    font-size: small;
    color: #2EEA10;
}
/*表格文本大小控制--聊天记录-未读 */
.history-no-readed>p>span{
    background-color: red;
    font-size: small;
}
.history-time>p{
    text-align: right;
    font-size: x-small;
}
/*用户列表中检索abcd..放在右边*/
.user-letter{
    right: 0;
    top: 15%; 
    position: 
    fixed; 
    z-index: 9999; 
    height: 100%;
}
/*用户列表中检索abcd..的字体大小*/
.user-letter>div{
    font-size: x-small;
}
/*聊天页面的聊天内容显示*/
.talk-item {
    -webkit-border-radius:5px;  
    -moz-border-radius:5px;
    border-radius: 10px;
    padding: 14px 8px 14px 8px;
    max-width: 94%;
    width: auto;
    display: inline-block;
    word-break: break-all;
}
/*聊天页面的聊天内容-我的*/
.talk-item-my {
    text-align: right;
    background-color: #169816;
    float: right;
}
/*聊天页面的聊天内容你得*/
.talk-item-you {
    text-align: left;
    background-color: white;
    float: left;
}
.talk-item-my + span{
    color: red;
    float: right;
    margin-right: 2px;
}
.talk-item-you + span{
    color: red;
    float: left;
    margin-left: 2px;
}
/* 聊天页面不显示导航按钮 */
.we-talkwindow>footer>ul {
    display: none;
}
/* 聊天页面不显示导航按钮 */
.we-talklist>footer>div {
    display: none;
}
/* 聊天页面不显示导航按钮 */
.we-userlist>footer>div {
    display: none;
}

/*聊天列表页面： 表格文本大小控制--聊天记录-已读 */
.we-talklist h5{
    margin: 2px 0px 6px 0px
}

/*表格边框留白*/
.we-talkwindow .table>tbody>tr>td{
    background-color: #EAE8E8;
    padding : 1% 0 1% 0;
    border: none;
    vertical-align: middle;
}

/* 发送消息动画 */
.talk-item-animation{
    -webkit-transition: all linear 1s;
    -o-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -moz-transition: all linear 1s;
    transition: all linear 1s;
}
/* 发送消息动画 -开始状态*/
.talk-item-animation.ng-enter{
    opacity: 0.2;
}
/*发送消息动画 -动画过程*/
.talk-item-animation.ng-enter-active{
    opacity: 1;
}