<input type="text" class="form-control input-sm input-search" ng-model="queryData" placeholder="搜索" ng-change="queryByKey()" ng-blur="queryByKeyBLur()"/>
<p class="text-center" ng-if="!userList || userList.length == 0"> 没有数据 </p>

<div>
	<div class="clearfix user-list-item  {{$index==showOptIndex?'show-opt-wapper':''}}" ng-repeat="user in userList">
		<div class="purikura">
			<img ng-src="{{user.imgUrl}}"/>
		</div>
		<div class="content"  ng-click="talk(user)">
			<div>{{user.name}}<SUB ng-show="0">{{user.initial}}</SUB></div>
		</div>
	</div>
</div>

<div class= "user-letter" ng-if="1">
	<div ng-repeat="key in queryKeyList" ng-touchmove="queryByinitial($event)">{{key}}</div>
</div>