
<footer class="navbar text-center">
	<ul class="nav nav-tabs">
		<li role="presentation">
			<a href="#/talkList" class="{{url == '#/talkList' ? 'active' : 'inactive'}}">
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 消息
				<span class="badge noread-badge" ng-if="noreadNumTotal != 0">{{noreadNumTotal}}</span>
			</a>
		</li>
		<li role="presentation">
			<a href="#/userList" class="{{url == '#/userList' ? 'active' : 'inactive'}}">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 通讯录
			</a>
		</li>
	</ul>
	<div class="input-group input-msg-bar">
		<span class="input-group-btn" ng-click="showSpeaking=!showSpeaking;showTools=0">
			<img class="tool-button" src="./imgs/speaking.png"/>
		</span>
		<textarea rows="1" ng-if="!showSpeaking" id="inputMsg" focusable="msgInputFocus" type="text" ng-model="data.msgContent" ng-focus="focusInput()" ng-keyup="sendMsgByKeyup($event)" class="form-control input-send-msg" maxlength="120" placeholder="点击回车，发送消息。" />
		<div ng-if="showSpeaking" ng-mousedown="startRecordVoice()" ng-mouseup="sendMsg4Voice()" ng-mouseout="sendMsg4Voice()"> 按住说话</div>
		<span class="input-group-btn" >
			<img class="tool-button" src="./imgs/expression_wink.png"  ng-click="showTools=2"/>
		</span>
		<span class="input-group-btn" ng-click="showTools=1">
			<img class="tool-button" src="./imgs/plus.png"/>
		</span>
		<span class="input-group-btn" ng-if="1">
			<button class="btn btn-primary" type="button" id="msgBtn" ng-click="sendMsgByButton()">发&nbsp;送</button>
		</span>
	</div>
	<div class="send-msg-tools clearfix" ng-if="showTools==1">
		<div class="clearfix" ng-repeat="tools in msgTools">
			<div ng-repeat="tool in tools" ng-click="handMsgTools(tool, $event)">
				<div>
					<div>
						<img ng-src="{{tool.icon}}">
					</div>
					<div>
						<p>{{tool.text}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div  ng-if="showTools==2">
		<div id="faceList" class="carousel slide clearfix" data-interval="false">
			<div class="carousel-inner" ng-swipe-left="prevCarousel($event)" ng-swipe-right="nextCarousel($event)">
				<div class="msg-face-box item {{$index==0?'active':''}}" ng-repeat="facePage in emList.faceList" >
					<div class="clearfix" ng-repeat="faceLine in facePage" >
						<div ng-click="addEm(face)" ng-repeat="face in faceLine" >
							<img ng-src="{{face.path}}" />
						</div>
					</div>
				</div>
			</div>

			<!-- 轮播（Carousel）指标 -->
			<ol class="carousel-indicators">
				<li data-target="#faceList" data-slide-to="{{$index}}" class="{{$index==0?'active':''}}" ng-repeat="facePage in emList.faceList" ></li>
			</ol> 
		</div>
		<ul class="nav nav-tabs">
		   <li class="active"><a data-toggle="tab"><img src="./imgs/face/1.gif" /></a></li>

		    <li class="pull-right"><button class="btn btn-info" ng-click="sendMsgByButton()">发送</button></li>
		</ul>
	</div>
</footer>