
<footer class="navbar-fixed-bottom text-center">
	<ul class="nav nav-tabs">
		<li role="presentation">
			<a href="#/talkList" class="{{url == '#/talkList' ? 'active' : 'inactive'}}">
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 消息
				<span class="badge" ng-if="noreadNumTotal != 0">{{noreadNumTotal}}</span>
			</a>
		</li>
		<li role="presentation">
			<a href="#/userList" class="{{url == '#/userList' ? 'active' : 'inactive'}}">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 通讯录
			</a>
		</li>
	</ul>
	<div class="input-group input-msg-bar">
		<span class="input-group-btn" ng-click="showSpeaking=!showSpeaking;showTools=false">
			<img class="tool-button" src="/imgs/speaking.png"/>
		</span>
		<input ng-if="!showSpeaking" type="text" id="msgInput" focusable="msgInputFocus" ng-focus="focusInput()"  ng-blur="focusInput()" ng-keyup="sendMsgByKeyup($event)" class="form-control input-send-msg" maxlength="120"/>
		<div ng-if="showSpeaking" ng-mousedown="startRecordVoice()" ng-mouseup="sendMsg4Voice()" ng-mouseout="sendMsg4Voice()"> 按住说话</div>
		<span class="input-group-btn" ng-click="showTools=!showTools">
			<img class="tool-button" src="/imgs/plus.png"/>
		</span>
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button" id="msgBtn" ng-click="sendMsgByButton()">发&nbsp;送</button>
		</span>
	</div>
	<div class="send-msg-tools clearfix" ng-if="showTools">
		<div ng-repeat="tools in msgTools">
			<div ng-repeat="tool in tools" ng-click="handMsgTools(tool, $event)">
				<div>
					<img ng-src="{{tool.icon}}">
				</div>
				<div>
					<p>{{tool.text}}</p>
				</div>
			</div>
		</div>
	</div>
</footer>